<div class="container">
    <img src="../../../assets/images/o_o.jpg" class="img-fluid mb-3" alt="Kép a lefoglalni kívánt helyről">
    <form action="/action_page.php">
        <div class="mb-3">
            <label for="birthDate" class="form-label">Lefoglalni kívánt nap</label>
            <input type="date" class="form-control">
        </div>
        <div class="mb-3">
            <label for="fishers" class="form-label">Érkező vendégek száma</label>
            <input type="number" class="form-control" >
        </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-success mb-3" routerLink="/signup">Elküldöm</button>
    </div>
</div>