<h1 class="ms-3">Profilom</h1>
<div class="container">
  <form (ngSubmit)="updateProfile()">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" id="name" class="form-control" [(ngModel)]="name" required
        [ngModelOptions]="{standalone: true}">
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" id="email" class="form-control" [(ngModel)]="email" required
        [ngModelOptions]="{standalone: true}">
    </div>

    <div class="mb-3">
      <label for="birthdate" class="form-label">Birthdate</label>
      <input type="date" id="birthdate" class="form-control" [(ngModel)]="birthdate" required
        [ngModelOptions]="{standalone: true}">
    </div>

    <button type="button" class="btn btn-danger mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Fiók
      törlése</button>
      <button type="submit" class="btn btn-primary mb-3 float-end">Frissítések mentése</button>
      <button type="button" class="btn btn-secondary mb-3 me-3 float-end" routerLink="/home">Vissza</button>
  </form>
  <!--------------------------------------------------------Modal--------------------------------------------------------->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Fiók törlése</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Fiókja véglegesen törlésre kerül. Biztosan ezt szeretné?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Nem</button>
          <button type="button" class="btn btn-danger" (click)="deleteUser()" data-bs-dismiss="modal">Igen</button>
        </div>
      </div>
    </div>
  </div>
</div>
