<form (submit)="submitForm()" class="py-3">
  <h2 class="text-center">Bejelentkezés</h2>
  <div class="m-3">
    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control" id="email" placeholder="Írja be email címét" name="email" [(ngModel)]="loginObj.email">
  </div>
  <div class="m-3">
    <label for="pwd" class="form-label" >Jelszó:</label>
    <input type="password" class="form-control" id="password" placeholder="Írja be jelszavát" name="password" [(ngModel)]="loginObj.password">
  </div>
  <div class="text-end">
    <button type="submit" class="btn btn-success me-3" (click)="login()">Bejelentkezés</button>
  </div>
</form>
