<div class="container">
    <div class="card-group">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Felhasználók</h5>
            <button class="btn btn-primary" routerLink="/users">Tovább</button>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Foglalások</h5>
            <button class="btn btn-primary" routerLink="/reservations">Tovább</button>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Horgászhelyek</h5>
            <button class="btn btn-primary" routerLink="/spots">Tovább</button>
          </div>
        </div>
      </div>
</div>