<!-- 
File: admin.component.ts/css/html
Author: Vitovszki Tamás
Copyright: 2024, Vitovszki Tamás
Group: Szoft II
Date: 2024
Github: https://github.com/Tomasman05
Licenc: GNU GPL
-->

<div class="container">
  <div class="card-group pt-3 mb-3">
      <div class="card">
          <div class="card-body">
              <h5 class="card-title">Felhasználók</h5>
              <p class="card-text">Kezelje a felhasználók adatait</p>
              <button class="btn btn-primary" routerLink="/users">Tovább</button>
          </div>
      </div>

      <div class="card">
          <div class="card-body">
              <h5 class="card-title">Foglalások</h5>
              <p class="card-text">Tekintse meg és kezelje a foglalásokat</p>
              <button class="btn btn-primary" routerLink="/reservations">Tovább</button>
          </div>
      </div>

      <div class="card">
          <div class="card-body">
              <h5 class="card-title">Horgászhelyek</h5>
              <p class="card-text">Bővítse vagy szerkessze a horgászhelyek listáját</p>
              <button class="btn btn-primary" routerLink="/spots">Tovább</button>
          </div>
      </div>
  </div>
</div>
