<div class="container border-top border-2 border-black">
    <h3 class="border-bottom border-2 border-black">Elérhetőségeink</h3>
    <div class="address">
        <div class="row">
            <div class="col border-end border-2 border-black">
                <h4>Az oldalt készítette</h4>
                <p>Szekeres Miklós <i class="fw-lighter">Backend</i></p>
                <p>Vitocszki Tamás <i class="fw-lighter">Frontend</i></p>
            </div>
            <div class="col border-end border-2 border-black">
                <h4>Szekeres Miklós</h4>
                <p class="fw-lighter">Nemtom utca 19,<br>Dány, 2118<br>Email: valami@gmail.com<br>Tel:
                    +36(20)4206969</p>
            </div>
            <div class="col border-end border-2 border-black">
                <h4>Vitovszki Tamás</h4>
                <p class="fw-lighter">Nekeresd utca 73,<br>Aszód, 2170<br>Email: valami@gmail.com<br>Tel:
                    +36(20)6664209</p>
            </div>
            <div class="col fw-lighter">
                <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Jogvégelem
                    </button>
                    <div class="dropdown-menu p-4 text-body-secondary" style="max-width: 400px;" id="drop">
                        <p class="fw-lighter" id="drop">
                            This program is free software; you can redistribute it and/or
                            modify it under the terms of the GNU General Public License
                            as published by the Free Software Foundation; either version 2
                            of the License, or (at your option) any later version.

                            This program is distributed in the hope that it will be useful,
                            but WITHOUT ANY WARRANTY; without even the implied warranty of
                            MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
                            GNU General Public License for more details:
                            <a href="http://www.gnu.org/licenses/gpl.html" id="drop">GNU General Public License</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>