<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" id="nav">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/rolunk" id="active">Dány Horgásztelep</a>
    <button (click)="open()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="close" class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " routerLink="/info" routerLinkActive="selected" id="active">Rólunk</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/profile" routerLinkActive="selected" id="active">Saját profil</a>
        </li>
      </ul>
    </div>
  </div>
  <button type="button" class="btn btn-success me-3" routerLink="/signup" *ngIf="auth.loggedIn">Regisztrálás</button>
  <button type="button" class="btn btn-success me-3" (click)="openLoginModal()"
    *ngIf="auth.loggedIn">Bejelentkezés</button>
  <button type="button" class="btn btn-success me-3" (click)="logout()" *ngIf="auth.loggedIn">Kijelentkezés</button>
</nav>
