<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" id="nav">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/rolunk" id="active">Dány Horgásztelep</a>
    <button (click)="open()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="close" class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " routerLink="/info" routerLinkActive="selected" id="active">Rólunk</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/profile" routerLinkActive="selected" id="active" *ngIf="loggedin()">Saját profilom</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/reservation" routerLinkActive="selected" id="active" *ngIf="loggedin()">Foglalásaim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/admin" routerLinkActive="selected" id="active" *ngIf="admin()&&loggedin()">Admin</a>
        </li>
      </ul>
    </div>
  </div>
  <button type="button" class="btn btn-success ms-2 me-2 mt-2" routerLink="/signup" *ngIf="!loggedin()">Regisztráció</button>
  <button type="button" class="btn btn-success me-2 mt-2" routerLink="/login" *ngIf="!loggedin()">Bejelentkezés</button>
  <button type="button" class="btn btn-success me-2 mt-2" (click)="logout()" *ngIf="loggedin()">Kijelentkezés</button>
</nav>
