<div class="container">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="../../../assets/images/671.jpg" class="d-block w-100" alt="..." style="max-height: 400px;">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="../../../assets/images/khaby.jpg" class="d-block w-100" alt="..." style="max-height: 400px;">
            </div>
            <div class="carousel-item">
                <img src="../../../assets/images/o_o.jpg" class="d-block w-100" alt="..." style="max-height: 400px;">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Előző</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Következő</span>
        </button>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet error quis quasi obcaecati eaque non repellat
        praesentium, illum corporis asperiores cumque dolorum sapiente illo consectetur dolorem nihil laborum recusandae
        eligendi quo in deserunt! Exercitationem asperiores autem, culpa quo necessitatibus repellat voluptas
        accusantium veniam natus veritatis aperiam reprehenderit vitae vero quia numquam provident ad nisi esse error
        quis ratione nostrum! Animi est tempora esse? Delectus perferendis eum, cumque ab hic ratione aliquid ex
        temporibus animi nemo. Voluptatibus sint perferendis, possimus labore eligendi a quo libero dolore tenetur
        adipisci beatae nobis numquam inventore accusantium similique. Sit aut, tempore quisquam mollitia dolorum
        nesciunt excepturi ullam assumenda, vel reiciendis in voluptatibus eligendi distinctio incidunt deserunt
        exercitationem aperiam ipsum repellat harum id! Obcaecati alias sequi, eligendi blanditiis similique molestias
        error architecto ratione, dolorum fugit totam esse quam, odio dolor repudiandae! Sint aut, repellat inventore
        temporibus pariatur ex, illum voluptates laborum sapiente voluptatibus mollitia in, suscipit placeat quibusdam.
        Placeat enim mollitia at fuga hic reiciendis dignissimos repellat officiis numquam! Consequuntur rerum
        blanditiis officia alias accusamus. Temporibus voluptate ex reprehenderit architecto, ullam eos ipsum
        perferendis libero placeat veniam atque amet consectetur nihil eaque laboriosam. Incidunt suscipit ullam facere
        delectus eos quaerat debitis, ut commodi dolor deleniti maxime iusto alias nemo dolorum fugit? Nostrum
        consequatur ut placeat ipsum rerum fugiat eligendi impedit culpa explicabo, dicta, repellendus sed! Aspernatur
        debitis fugit amet quam nostrum, nam sunt at incidunt repellat totam vel delectus asperiores consequuntur
        aliquam a excepturi! Earum officia assumenda dignissimos voluptatem ea laborum, quidem consequatur nobis
        quibusdam. Adipisci expedita dolor quod id earum nostrum possimus quas vero ipsa odio itaque, quaerat qui,
        facilis quidem, atque cupiditate consequatur explicabo ducimus in eum nisi necessitatibus! Vel iste perspiciatis
        laboriosam aliquam ullam earum laudantium sed assumenda voluptas tenetur fugit suscipit ab possimus nesciunt,
        nam, dignissimos recusandae quisquam aliquid! Ducimus, perspiciatis velit.</p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="../../../assets/images/booking.png" class="card-img-top" alt="Foglalás kép" style="max-height: 200px; max-width: 200px; margin: 0 auto;">
                <div class="card-body">
                    <h5 class="card-title">Foglalás</h5>
                    <p class="card-text">Itt megtekintheti a horgásztelep lefoglalható helyeit, valamint le is
                        foglalhatja azokat. Minden állásról kép, és információ is itt található.</p>
                </div>
                <div class="card-footer">
                    <a routerLink="/bookmain" class="btn btn-success">Tovább</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">nemtom</h5>
                    <p class="card-text">idk xDDDDDDDDDDD</p>
                </div>
                <div class="card-footer">
                    <a routerLink="/sehova" class="btn btn-success">Tovább</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 ">
                <img src="../../../assets/images/gallery.png" class="card-img-top" alt="Galéria kép" style="max-height: 200px; max-width: 200px; margin: 0 auto;">
                <div class="card-body">
                    <h5 class="card-title">Galéria</h5>
                    <p class="card-text">Itt található a galériánk amelybe Ön is feltölheti, élményeit, és legendás fogásait.</p>
                </div>
                <div class="card-footer">
                    <a routerLink="/galery" class="btn btn-success">Tovább</a>
                </div>
            </div>
        </div>
    </div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eaque deleniti nulla exercitationem molestiae
        minus, architecto libero rerum vitae quae reiciendis nesciunt similique aliquid id cumque nihil, magni quidem
        voluptatibus veniam quas. Maiores dolores, porro quaerat nemo quia provident laboriosam asperiores reiciendis
        harum ipsam molestias facilis ullam cum? Neque aliquid odio amet exercitationem ratione magnam eligendi mollitia
        similique labore magni laudantium qui iure aut, natus voluptatibus officia maxime modi. Soluta corrupti eius
        maxime ipsam sint iste inventore obcaecati natus doloremque.</p>
</div>