<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="mb-3">
                <label for="email" class="form-label">Email cím</label>
                <input type="email" class="form-control" [(ngModel)]="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Név</label>
                <input type="text" class="form-control" [(ngModel)]="name">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Jelszó</label>
                <input type="password" class="form-control" [(ngModel)]="password">
            </div>
            <div class="mb-3">
                <label for="birthDate" class="form-label">Születési dátum</label>
                <input type="date" class="form-control" [(ngModel)]="birthDate">
            </div>
            <button type="register" class="btn btn-primary mb-3" (click)="signUp()">Regisztrálok!</button>
        </div>
    </div>

</div>
