body{
    background-image: url(../assets/images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container span{
    display: table;
    background-color: rgba(255, 255, 255, 0.647); 
}
