<div class="container">
    <h3>Dányi Tó - Természeti Paradicsom a Horgászoknak</h3>
    <p>A Dányi tó egy varázslatos természeti kincs, mely Magyarország szívében, Dány településén található. A tó
        rendkívül gazdag halfajokban, és híres a nyugodt környezetéről, ideális horgászati feltételeiről.
    </p>

    <img src="../../../assets/images/lake.jpg" alt="Dányi Tó" class="img-fluid mx-auto"
        style="height: 600px; margin-left: auto; margin-right: auto;">

    <h4>Felkapott Halak</h4>
    <p>
        <img src="../../../assets/images/catfish.png" alt="Harcsa" style="max-height: 300px;">A tóban megtalálható
        különböző halfajok között szerepelnek a
        ragadozó halak, mint a süllő, harcsa és a csuka.
    </p> <br>
    <p>Fellelhető továbbá a
        népszerűbb ponty és amur is.</p><img src="../../../assets/images/carp.png" alt="Ponty"
        style="max-height: 300px;">
    <br>
    <p>A változatos halfauna garantálja, hogy minden horgász megtalálja a számára izgalmas
        és kihívást jelentő horgászhelyet.
    </p>

    <h4>Horgászidények</h4>
    <p>Az év során különböző időszakokban érdemes kipróbálni a horgászatot a Dányi tónál. Tavasszal a ragyogó napfényben
        a halak aktívak és könnyen csalhatók. Nyáron a hűsítő tavizben kellemesen horgászhat, míg ősszel a halak etetési
        periódusában remek fogásokra számíthat.</p>

    <p>Fedezze fel a horgászat varázsát a Dányi Horgásztelepen, ahol minden részletre odafigyelünk annak érdekében, hogy
        Önnek felejthetetlen élményekben legyen része. Győződjön meg a Dányi tó változatos horgászhelyeiről, és <a
            routerLink="/bookmain">foglalja
            le</a> a kedvencét még ma!</p>
</div>