<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Dányi Tó - Természeti Paradicsom a Horgászoknak</h3>
      <p>A Dányi tó egy varázslatos természeti kincs, mely Magyarország szívében, Dány településén található. A tó
        rendkívül gazdag halfajokban, és híres a nyugodt környezetéről, ideális horgászati feltételeiről.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <img src="../../../assets/images/lake.jpg" alt="Dányi Tó" class="img-fluid mx-auto d-block"
        style="height: 400px;">
    </div>
    <div class="col-md-6">
      <h4>Felkapott Halak</h4>
      <p>
        <img src="../../../assets/images/catfish.png" alt="Harcsa" class="img-fluid" style="max-height: 200px;">A tóban
        megtalálható különböző halfajok között szerepelnek a ragadozó halak, mint a süllő, harcsa és a csuka.
      </p>
      <p>Fellelhető továbbá a népszerűbb ponty és amur is. <img src="../../../assets/images/carp.png" alt="Ponty"
          class="img-fluid" style="max-height: 200px;"></p>
      <p>A változatos halfauna garantálja, hogy minden horgász megtalálja a számára izgalmas és kihívást jelentő
        horgászhelyet.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>Horgászidények</h4>
      <p>Az év során különböző időszakokban érdemes kipróbálni a horgászatot a Dányi tónál. Tavasszal a ragyogó
        napfényben a halak aktívak és könnyen csalhatók. Nyáron a hűsítő tavizben kellemesen horgászhat, míg ősszel a
        halak etetési periódusában remek fogásokra számíthat.</p>
      <p>Fedezze fel a horgászat varázsát a Dányi Horgásztelepen, ahol minden részletre odafigyelünk annak érdekében,
        hogy Önnek felejthetetlen élményekben legyen része. Győződjön meg a Dányi tó változatos horgászhelyeiről, és <a
          href="/bookmain">foglalja le</a> a kedvencét még ma!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>Dányi Horgásztelep</h4>
      <p>A Dányi Horgásztelep egy kivételesen szép és nyugodt környezetű horgászparadicsom. Maga a telep egy modern
        horgászkemping, ahol a horgászoknak minden kényelmet biztosítunk.</p>
      <p>Az itt található horgászati infrastruktúra kiváló, és a kemping területén különböző horgászhelyek állnak
        rendelkezésre, hogy minden horgász megtalálhassa a számára ideális helyet.</p>
      <p>A Dányi Horgásztelepen való tartózkodás során a vendégeink részt vehetnek különböző horgászversenyeken,
        workshopokon és más eseményeken, melyek garantálják a szórakozást és a közösségi élményeket.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>Helyszín: Dány, Magyarország</h4>
      <p>A Dányi tó és horgásztelep remekül megközelíthető a Dány településén. A település csendes, barátságos, és a
        környék gyönyörű tájakkal rendelkezik. Ideális hely a pihenésre és a horgászat szerelmeseinek.</p>
      <p><a href="https://www.google.com/maps/dir//D%C3%A1ny,+2118/@47.5344979,19.5690533,16.25z/data=!4m8!4m7!1m0!1m5!1m1!1s0x4741b0f46b38d799:0xe4db48688dfb771a!2m2!1d19.5764662!2d47.5334171?entry=ttu" target="_blank">Látogasson el hozzánk</a>, és élvezze a Dányi Horgásztelep nyugodt atmoszféráját, a kiváló horgászati lehetőségeket
        és a természet szépségét!</p>
    </div>
  </div>
</div>
