<div class="container border-top border-2 border-black footer-container">
  <h3 class="border-bottom border-2 border-black">Elérhetőségeink</h3>
  <div class="address">
    <div class="row">
      <div class="col border-end border-2 border-black">
        <h4>Az oldalt készítette</h4>
        <p>Szekeres Miklós <i class="fw-lighter">Backend</i></p>
        <p>Vitovszki Tamás <i class="fw-lighter">Frontend</i></p>
      </div>
      <div class="col border-end border-2 border-black">
        <h4>Szekeres Miklós</h4>
        <p class="fw-lighter">Nemtom utca 19,<br>Dány, 2118<br>Email: valami&#64;gmail.com<br>Tel:
          +36(20)4206969</p>
      </div>
      <div class="col border-end border-2 border-black">
        <h4>Vitovszki Tamás</h4>
        <p class="fw-lighter">Nekeresd utca 73,<br>Aszód, 2170<br>Email: valami&#64;gmail.com<br>Tel:
          +36(20)6664209</p>
      </div>
      <div class="col fw-lighter">
        <p class="mb-0">&copy; 2024 Dányi Horgásztelep. Minden jog fenntartva.</p>
      </div>
    </div>
  </div>
</div>
